{% extends "base.html" %}

{% block content %}
<div class="mnemonic-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  <p class="text-center">
    <p>A "mnemonic" is a tool that helps you remember things.</p>
    <p>This Mnemonic helps you not forget events involving, and statements made by politicians, actors, journalists and celebrities, by continuously monitoring news articles and tweets.</p>
    <p>Helps with situations like:</p>
    <ul>
      <li>What topics is a politician talking about? Has it changed over time? Which politicians are raking up divise issues and which ones are working on problems that matter?</li>
      <li>When a celeb tweets about an issue, are they being opportunistic or is this a topic they have always cared about?</li>
      <li>Identify bias in newspapers by figuring out which ones are covering, and even more importantly, not covering what topics.</li>
      <li>Are people with opinions being harassed online? Are women being threatened with rape? Are these coordinated attacks?</li>
    </ul>
  </p>

    <div class="row">
      <div class="col-12 col-md">
        <span class="d-block">Check out Mnemonic on <a href="https://github.com/xaviermathew/Mnemonic/">Github</a>.</span>
      </div>
    </div>
</div>
{% endblock %}
