<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Mnemonic</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Mnemonic</h5>
      <nav class="nav my-2 my-md-0 mr-md-3">
        <a class="nav-link p-2 {% if request.path == '/' %}active{% endif %}" href="/">Explore</a>
        <a class="nav-link p-2 {% if request.path == '/stories/' %}active{% endif %}" href="/stories/">Stories</a>
        <a class="nav-link p-2 {% if request.path == '/about/' %}active{% endif %}" href="/about/">About</a>
      </nav>
    </div>

    {% block content %}
    {% endblock %}

    <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block extra_js %}
    {% endblock %}
  </body>
</html>
